.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5rem;
    background-color: #ffff;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    z-index: 10;
}

.imgHeader {
    float: left;
    width: 200px;
}

.main-image {
    text-align: center;
    margin-top: 85px;
    margin-bottom: -80px;
}